<text>
    <table width="100%">
        <tbody>
            {{#each(entries)}}
                <tr>
                    <td styleCode="Bold">Date:</td>
                    <td ID="{{ section }}-date-{{ @index }}">{{ times_to_s }}</td>
                </tr>
                {{#status}}
                    <tr>
                        <td styleCode="Bold">Status:</td>
                        <td ID="{{ section }}-status-{{ @index }}">{{ . }}</td>
                    </tr>
                {{/status}}
                {{#description}}
                    <tr>
                        <td styleCode="Bold">Reason:</td>
                        <td ID="{{ section }}-desc-{{ @index }}">{{.}}</td>
                    </tr>
                {{/description}}
                {{#preferred_code}}
                    <tr>
                        <td styleCode="Bold">Type:</td>
                        <td ID="{{ section }}-type-{{ @index }}">{{ displayName }}</td> <!-- from code -->
                    </tr>
                    {{#original_text}}
                        <tr>
                            <td colspan="2" styleCode="Bold">Details:</td>
                        </tr>
                        <tr>
                            <td ID="{{ section }}-text-{{ @index }}" colspan="2">{{{.}}}</td>
                        </tr>
                    {{/original_text}}
                {{/preferred_code}}
            {{/}}
        </tbody>
    </table>
</text>