<text>
    <content ID="{{ section }}"/>
    <table width="100%">
        <thead>
        <tr>
            <th>Vaccine</th>
            <th>Series Number</th>
            <th>Date</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        {{#each(entries)}}
        <tr ID="{{ section }}-{{ @index }}">
            <td id="#{{ section }}-desc-{{ @index }}">{{ medication_product.material_name }}</td>{{! <!-- TODO: Might want to use the displayName from code instead? --> }}
            <td>{{ series_number }}</td>
            <td>{{ times_to_s }}</td>
            <td>{{ status }}</td>
        </tr>{{/}}
        </tbody>
    </table>
</text>
