<!-- Represents unique registry organization TIN -->
{{#each(ids)}}{{>cat1_id.cat1 }}{{/}}
<!-- Contains name - specific registry not required-->
<name>{{name}}</name>
{{#each(addresses)}}{{>cat1_address.cat1 }}{{/}}
{{#each(telecoms)}}{{>cat1_telecom.cat1 }}{{/}}
